<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address</title>
</head>
<body>


        <div align="center">
            <form action="/address/save"method="post">
                Address Id:<input type="text" name="aid" readonly value="{{address.id}}"> <br><br>
                city:<input type="text" name="city" value="{{address.city}}"> <br><br>
                state:<input type="text" name="state" value="{{address.state}}"><br><br>
                pincode:<input type="text" name="pincode" value="{{address.pincode}}">  <br><br>

                    <input type="submit">








            </form>
        </div>>


</body>
</html>